.left{
    background-color: #5D9699;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* laptop view */
@media 
  (min-device-width: 1200px) 
  and (max-device-width: 1600px) { 
    .Signin{
        position: fixed;
        height: 700px;
        width: 100%;

    }

    }

